body {
    color: #444;
    background-color: #EEE;
    margin: 40px auto;
    max-width: 750px;
    line-height: 1.6em;
    font-size: 18px;
    padding: 10px;
}

div {
    display: block;
}

a {
    text-decoration-line: none;
}

#profile {
    float: right;
}

#profile_pic {
    margin-left: 10px;
    width: 225px;
    height: 225px;
}

@media only screen and (max-width: 480px) {
    /* ensure image comes on top */
    #profile {
        float: none;
    }

    /* center the image */
    #profile_pic {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    h1 {
        text-align: center;
    }
}