body {
    color: #444;
    background-color: #EEE;
    margin: 40px auto;
    max-width: 750px;
    line-height: 1.6em;
    font-size: 18px;
    padding: 10px;
}

#about {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#profile_pic {
    width: 225px;
    height: 225px;
    flex: none;
}

#profile_details {
    flex: none;
}

@media only screen and (max-width: 600px) {
    #about {
        flex-direction: column-reverse;
    }
}
  